@model Exam_Management.Models.Paper

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Student Dashboard</h1>

@Html.ActionLink("Exam Papers", "PaperManager", null, new { @class = "btn btn-dark" })
@Html.ActionLink("See Your Submitted Answers", "ShowSubmittedAnswers", null, new { id = Session["Id"] }, new { @class = "btn btn-dark" })


@if (TempData.ContainsKey("LoginMsg") && (bool)TempData["LoginMsg"] == true)
{
    <script>
        Swal.fire({
            position: "top-end",
            icon: "success",
            title: "Login Successfull",
            showConfirmButton: false,
            timer: 1500
        });
    </script>
}