@model IEnumerable<Exam_Management.Models.User>

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Admin Dashboard</h2>
<hr />
<div class="d-flex justify-content-center justify-content-around mt-5 mb-5">
    @Html.ActionLink("Manage Users", "UserManager", null, new { @class = "btn btn-dark" })
    @Html.ActionLink("Manage Papers", "PaperManager", null, new { @class = "btn btn-dark" })
    @Html.ActionLink("See Answers", "ShowResults", null, new { @class = "btn btn-dark" })
</div>
@if (TempData.ContainsKey("LoginMsg") && (bool)TempData["LoginMsg"] == true)
{
    <script>
            Swal.fire({
                position: "top-end",
                icon: "success",
                title: "Login Successfull",
                showConfirmButton: false,
                timer: 1500
            });
    </script>
}